<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!--  <link rel="stylesheet" href="css/style.css">   -->
  </head>

  <body>
    <section>
 

      <button><i class="fa fa-microphone"></i></button>

      <div>
          <p>Godwin said: <em class="output-you">...</em></p>
          <p>Assistant replied: <em class="output-bot">...</em></p>
      </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
